html{
    font-size: 24px;

}
body{
    max-width: 750px;
    box-sizing: content-box;
    max-height: max-content;
    margin: 0 auto;
    
}
p{
    margin: 0%;
}
div{
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular;
}
.first-block{
    height: 235px;
    font-weight: 750px;
    background-color:#2d7053;
}
img{
    margin: 38px;
}
.name{

    font-family: AdobeInvisFont, ﻿MyriadPro-Regular ;
    color:white;
    font-size: 24px;
    margin-left: 225px;
    float: left;
    position: absolute;
    top: 65px;

}
.Lines{
    float: right;
    margin-top: 69px;
    margin-right: 44px;
}

.Line{
    color:aliceblue;
    height: 12px;
    font-weight:85px;
    border-radius:25px;
    margin: 16px 0;
}

.body{
    background-color:#2d7053 ;
    height: 500px;
    font-weight:400px;
}
img{
    margin: 0px;
    border-radius:0;
}
.bottom{
    height: 75px;
    font-weight: 700px;
    background-color: #cb9223;
    position: absolute;
    top: 600px;
    left: 545px;
   
}
.text{
font-family: AdobeInvisFont, MyriadPro-Regular ;
color: aliceblue;
text-align: center;
margin-top: 25px;
}
img{
    
        border-radius: 200px;
    }
.special{
font-family: AdobeInvisFont, ﻿MyriadPro-Regular ;
color: black;
text-align: center;
font-size: 35px;
top: 800px;
position: absolute;
margin-left: 300px;


}
  .info{
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular ;
    color: black;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin-left: 300px;
    top: 900px;
  }  
.opus{
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular ;
    color: black;
    text-align: left;
    font-size: 20px;
    margin-top: 50px;

}
.reasons{
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular ;
    color: black;
    text-align: left;
    font-size: 35px;
    margin-top: 50px;
}
.bottom-repeat{
    height:44px;
    font-weight:341px;
    background-color: #cb9223;
    top:600px;
    left:545px;
    text-align: center;

  }
  .ball{
      background-color: grey;
      height: 150px;
     
}
img{
margin-right: 600px;
    
}
  .footer{
    font-family: AdobeInvisFont, ﻿MyriadPro-Regular ;
    color: #fff;
    text-align: right;
    font-size: 35px;
  }
  .number{
float: right;

  }